body {
	bgcolor:"#19208a";
	font-size: 22px;
	font-family: 'Blaka Hollow', cursive;
	color:green;
	
}

hl{
	font-family: 'Blaka Hollow', cursive;
	color:blue ;
}

img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-reflect: below 0px linear-gradient (to bottom, red, yellow) ;
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	-=-0
}